h1{
    color: blue;
    background-color: black;
    padding: 30px;
}
h2{
    color: rgb(131, 74, 20);
    background-color: rgb(55, 55, 58);
    padding: 30px;
}
h3 {
    padding-top: 40px;
}